body {
    margin: 25px 300px 75px 250px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: #BD5D38;
}
a:hover {
    text-decoration: underline;
    color: #824027;
}

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.0em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.0em; }

p {
    font-size: 1.15em;
    line-height: 1.2em;
    color: #333;
    text-align: justify; /* For Edge */
    text-align-last: left;	
}

c {
  text-align: justify; /* For Edge */
  text-align-last: justify;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { margin: 20px auto 40px; font-size: 1.5em; }

ul.posts li { list-style: none; }



.float-img{
	float: right;
	clear: right;
	margin-left: 10px;
	margin-bottom: 5px;
	border: solid black 0px;
	padding: 2px;
	max-width: 100%;
	height: auto;
}

.responsive-img{
	margin-left: 2px;
	margin-bottom: 5px;
	border: solid black 0px;
	padding: 2px;
	max-width = 500px;
	width: 70%;
	height: auto;
}

.flippable{
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	-webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
}

.flippable .front-img{
	-webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
}

.flippable .img-circle{  /*.avatar*/
	display: none;
	position: absolute;
	margin-bottom: 20px; 
	top: 99;
	left: 99;
	z-index: 99;
	-webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
}

.flippable:hover .img-circle{
	display: inline;
	margin-bottom: 20px; 
}
